<div id="search">
    <img src="giphy-logo-black.png" alt="" class="giphylogo">
    <h1>Search on Giphy</h1>
    <div>
        <form action="/search" method="GET">
            <p>
                <input type="text" name="q" id="" placeholder="Please enter a search term"> <br />
                <label for="n">No. of Results: </label>
                <input type="number" name="n" id="" step="1" value="10">
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>