{{#each alpha}}
<a href="/catalog/{{this}}" class="btn btn-primary" role="button">{{this}}</a>
{{/each}}

{{#each num}}
<a href="/catalog/{{this}}" class="btn btn-primary" role="button">{{this}}</a>
{{/each}}
