<div class="row justify-content-between align-middle m-auto">
    <h2>Search History</h2>
    <button type="button" class="btn btn-primary" [routerLink]="['/search']">Search</button>
</div>
<hr>
<div class="row justify-content-center">
    <div class=" list-group">
        <a href="#" class="list-group-item list-group-item-action">
            Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    </div>
</div>