{{#with result}}
<h1>{{ name }}</h1>
<table>
    <tr>
        <td>Category: </td>
        <td>{{category}}</td>
    </tr>
    <tr>
        <td>Installs</td>
        <td>{{installs}}</td>
    </tr>
    <tr>
        <td>Rating</td>
        <td>{{rating}}</td>
    </tr>
</table>
{{/with}}