<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRh9Dup9RvrZW53GQJWwOqUV34uUxNd7DNluw&usqp=CAU" alt="">
    {{{ body }}}
</body>
</html>