<div id="search">
    <img src="" alt="" class="giphylogo">
    <h1>Search on Marvel Characters</h1>
    <div>
        <form action="/search" method="GET">
            <p>
                <input type="text" name="q" id="" placeholder="I'm feeling lucky"> <br />
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
